:root {
  --changeSize: 12.5%;
}


* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Anton', sans-serif;
  color: #333;
}



main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

header {
  text-align: center;
  font-size: 4vw;
  letter-spacing: 3px;
  text-transform: uppercase;
}

div.grid {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 30px;
}

div.grid-item-competitor, div.grid-item-player {
  width: var(--changeSize);
  height: var(--changeSize);
  border: 1px dashed black;
  cursor: crosshair;
}

.hover {
  background: grey;
}

.carrier {
  background: red;
}

.battleship {
  background: blue;
}

.cruiser {
  background: green;
}

.submarine {
  background: black;
}

.destroyer {
  background: orange;
}

#border {
  background: yellow;
}

.error {
  background-image: linear-gradient(to right, red, yellow);
}

